.captureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: "Myriad Pro", sans-serif;
  }
  
  h1 {
    margin-bottom: 3%;
  }

  h2 {
    margin-bottom: 20px;
    color: #473535;
  }
  
  .cameraBox {
    /* width: 400px; */
    height: 300px;
    border: 2px solid #473535;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .webcam {
    width: 100%;
    height: 100%;
  }
  
  .buttonContainer {
    border-radius: 5px;
  }

  .captureBtn, .confirmBtn {
    margin-top: 20px;
    padding: 10px 29px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .retakeBtn{
    margin-top: 20px;
    padding: 8.4px 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 2px solid ;
  }
  
  .captureBtn { background: #473535; color: white; }
  .confirmBtn { background: #473535; color: white; }
  .retakeBtn { background: white; color: #473535; }
  