@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
      url('../fonts/MyriadPro-Regular.woff') format('woff'),
      url('../public/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
}

.homeContainer {
  background-color: black;
  text-align: center;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  height: 100vh; /* Makes it take the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
}

.homelogo {
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.studentButton,
.teacherButton {
  width: 300px;
  max-width: 300px;
  padding: 20px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.studentButton:hover,
.teacherButton:hover {  
  background-color: white;
  color: black;
}