@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../public/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .signupContainer {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Myriad Pro', sans-serif;
  }

  .signupLogo {
    width: 180px;
    /* margin-bottom: 20px; */
    margin-top: 30px;
  }
  
  .signupBox {
    background: white;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
    width: 350px;
  }
  
  h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #000000;
  }
  
  label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #473535;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #c1bbbb;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .continueBtn {
    width: 107%;
    padding: 15px;
    border: none;
    background-color: #473535;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
  }
  
  .continueBtn:hover {
    background-color: #847878;
  }
  
  .footerLinks {
    font-size: 14px;
    text-align: center;
  }
  
  .footerLinks a {
    color: #0044cc;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
  }
  
  .footerLinks a:hover {
    text-decoration: underline;
  }
  